<div class="flex flex-row justify-between items-center px-8 py-2">
  <a
    routerLink="/"
    id="logo"
    class="text-3xl font-bold text-blue-500 cursor-pointer"
  >
    🧳TravelHub
  </a>
  @if (displayNav()) {
    <app-navbar />
  }
  <div id="actions" class="flex items-center gap-x-4">
    <button id="search" class="hover-text-blue font-bold">
      <i class="fa fa-magnifying-glass"></i>
      @if (hideActionTitles()) {
        Search
      }
    </button>
    <button id="saves" (click)="saves()" class="hover-text-blue font-bold">
      <i class="fa-regular fa-bookmark"></i>
      @if (hideActionTitles()) {
        Saves
      }
    </button>

    @if (isLoggedIn) {
      <a routerLink="/dashboard">
        <i class="fa fa-user hover-text-blue"></i>
      </a>
    } @else {
      <a routerLink="/auth/register">
        <button
          id="signin"
          class="text-white bg-blue-500 hover:bg-blue-400 font-medium text-base rounded-full px-4 py-2"
        >
          Signin
        </button>
      </a>
    }
    @if (!displayNav()) {
      <i class="fa-solid fa-bars"></i>
    }
  </div>
</div>
