<nav>
  <ul class="flex gap-8">
    <a routerLink="">
      <li class="hover-text-blue text-black font-semibold text-lg">
        Destinations
      </li>
    </a>
    <a routerLink="">
      <li class="hover-text-blue text-black font-semibold text-lg">Planning</li>
    </a>
    <a routerLink="">
      <li class="hover-text-blue text-black font-semibold text-lg">
        Inspiration
      </li>
    </a>
    <a routerLink="">
      <li class="hover-text-blue text-black font-semibold text-lg">Shop</li>
    </a>
  </ul>
</nav>
