<div class="password">
  <img src="images/login-bg.png" alt="image" class="password__bg" />

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="password__form">
    <a routerLink="/" class="w-full flex justify-center mb-4">
      <app-logo />
    </a>
    <h1 class="password__title">password</h1>

    <div class="password__inputs">
      <div class="password__box">
        <input
          type="password"
          formControlName="newPassword"
          placeholder="New password"
          class="password__input"
        />
        <i class="fa-solid  fa-key"></i>
      </div>
      @if (
        resetPasswordForm.controls["newPassword"].invalid &&
        resetPasswordForm.controls["newPassword"].touched
      ) {
        @if (resetPasswordForm.controls["newPassword"].hasError("required")) {
          <span> This field is required. </span>
        }
        @if (resetPasswordForm.controls["newPassword"].hasError("minlength")) {
          <span> Password must be at least 6 characters lang. </span>
        }
      }
      <div class="password__box">
        <input
          type="password"
          formControlName="repeatPassword"
          placeholder="Repeat password"
          class="password__input"
        />
        <i class="fa-solid fa-key"></i>
      </div>
      @if (
        resetPasswordForm.controls["repeatPassword"].invalid &&
        resetPasswordForm.controls["repeatPassword"].touched
      ) {
        @if (resetPasswordForm.controls["repeatPassword"].hasError("required")) {
          <span> This field is required. </span>
        }
        @if (resetPasswordForm.controls["repeatPassword"].hasError("minlength")) {
          <span> Password must be at least 6 characters lang. </span>
        }
      }

      <button type="submit" class="password__button" [disabled]="resetPasswordForm.invalid">
      @if (isLoading) {
        Loading ...
      } @else {
        Reset
      }
    </button>
</div>
</form>
