<div
  id="container"
  class="flex flex-col items-start justify-start gap-y-2 rounded-md shadow-lg drop-stale-300 p-4"
>
  <div class="w-full min-h-[200px] h-full relative">
    <img
      fill
      class="rounded-md object-cover"
      [ngSrc]="blog.image"
      alt="Descriptive alt text"
    />
  </div>
  <app-badge
    text="category"
    style="background-color: rgb(9, 77, 111)"
  ></app-badge>
  <p>{{blog.publishDate | date}}</p>
  <p>{{blog.title}}</p>
  <p>by {{blog.author}}</p>
</div>
