<div id="container" class="flex flex-col items-start justify-start gap-y-2 rounded-md shadow-lg drop-stale-300 p-4">
  <img width="200" height="200" class="rounded-md" ngSrc="https://media.istockphoto.com/id/1767577420/de/foto/feuerwerks-strand.webp?a=1&b=1&s=612x612&w=0&k=20&c=hOT6dviWMevlf7FGnyTx_CHRQOoQyzyZGGXcIOHTtAc=" alt="" />
 <app-badge text="category" style="background-color: rgb(9, 77, 111);"></app-badge>
  <p>04 Mar 2024</p>
  <p>A First time guide to Mallorca!</p>
  <p>by Farzaneh Kazemi</p>
</div>
