<div class="hidden md:block">
   <p><a href=""> Adventure Travel </a></p>
   <p><a href=""> Art and Culture </a></p>
   <p><a href=""> Beaches, Coasts and Islands </a></p>
   <p><a href=""> Family Holidays </a></p>
   <p><a href=""> Festivals </a></p>
   <p><a href=""> Food and Drink </a></p>
   <p><a href=""> Honeymoon and Romance </a></p>
   <p><a href=""> Road Trips </a></p>
   <p><a href=""> Sustainable Travel </a></p>
   <p><a href=""> Travel on a Budget </a></p>
   <p><a href=""> Wildlife and Nature </a></p>
</div>
