<div class="hidden md:block">
<p><a href=""> New York City </a></p>
<p><a href=""> Paris </a></p>
<p><a href=""> Italy </a></p>
<p><a href=""> Costa Rica </a></p>
<p><a href=""> Japan </a></p>
<p><a href=""> USA </a></p>
<p><a href=""> Amsterdam </a></p>
<p><a href=""> Portugal </a></p>
<p><a href=""> Cancún </a></p>
<p><a href=""> Chicago </a></p>
<p><a href=""> England </a></p>
<p><a href=""> Tokyo </a></p>
<p><a href=""> France </a></p>
<p><a href=""> Thailand </a></p>
<p><a href=""> Ireland </a></p>
<p><a href=""> Rome </a></p>
<p><a href=""> London </a></p>
<p><a href=""> Los Angeles </a></p>
<p><a href=""> Mexico </a></p>
<p><a href=""> San Francisco </a></p>
<p><a href=""> Explore More Destinations </a></p>
</div>
