<div class="password">
  <img src="images/login-bg.png" alt="image" class="password__bg" />

  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="recoverPassword()" class="password__form">
    <a routerLink="/" class="w-full flex justify-center mb-4">
      <app-logo />
    </a>
    <h1 class="password__title">Rcover password</h1>

    <div class="password__inputs">
      <div class="password__box">
        <input
          type="email"
          formControlName="email"
          placeholder="Email ID"
          class="password__input"
        />
        <i class="fa-solid fa-envelope"></i>
      </div>
      @if (
        passwordRecoveryForm.controls["email"].invalid &&
        passwordRecoveryForm.controls["email"].touched
      ) {
        @if (passwordRecoveryForm.controls["email"].hasError("required")) {
          <span> Email is required. </span>
        }
        @if (passwordRecoveryForm.controls["email"].hasError("email")) {
          <span> Email format is not correct. </span>
        }
      }

      <button type="submit" class="password__button" [disabled]="passwordRecoveryForm.invalid">
      @if (isLoading) {
        loading ...
      } @else {
        Confirm
      }
    </button>
</div>
</form>
