.password {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.password__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.password__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 2.5rem 1rem;
  color: white;
  border-radius: 1rem;
  backdrop-filter: blur(16px);
}

.password__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 1.25rem;
}

.password__inputs,
.password__box {
  display: grid;
}

.password__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}

.password__box {
  grid-template-columns: 1fr max-content;
  column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.password__input,
.password__button {
  border: none;
  outline: none;
}

.password__input {
  width: 100%;
  background: none;
  color: white;
  padding-block: 1rem;
}

.password__input::placeholder {
  color: white;
}

.password__box i {
  font-size: 1.25rem;
}

.password__check,
.password__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password__check {
  margin-bottom: 1rem;
  font-size: 14px;
}

.password__check-box {
  column-gap: 0.5rem;
}

.password__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: white;
}

.password__forgot {
  color: white;
}

.password__forgot:hover {
  text-decoration: underline;
}

.password__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: whitesmoke;
  border-radius: 4rem;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.password__register {
  font-size: 14px;
  text-align: center;
}

.password__register a {
  color: white;
  font-weight: 500;
}

.password__register a:hover {
  text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .password {
    justify-content: center;
  }

  .password__form {
    width: 420px;
    padding-inline: 2.5rem;
  }

  .password__title {
    margin-bottom: 2rem;
  }
}
