<main id="main">
  <section
    class="relative flex h-[400px] w-full justify-center items-center overflow-hidden px-8 md:h-[675px] "
  >
    <img ngSrc="images/hero.jpg" alt="Hero-image" fill priority />
    <div class="absolute inset-0 bg-black opacity-40"></div>
    <div
      class="relative flex w-full flex-col items-center justify-center rounded-lg"
    >
      <h2
        class="mb-8 text-center text-6xl font-extrabold text-white drop-shadow-3xl"
      >
        Discover story-worthy
      </h2>
      <h2
        class="mb-4 text-center text-6xl font-extrabold text-white drop-shadow-3xl"
      >
        travel moments
      </h2>
    </div>
  </section>
</main>
